@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/index.css" />
    <title>Index</title>
</head>
<body>
    <header>
        <div class="menu">
        </div>
        <div class="logo">
        </div>
        <div class="links">
            <a href="https://www.instagram.com/tilo_showroom_/" class="header_links">
                <img src="~/files/main/img/facebook (3).png" width=25 height=25 />
            </a>
            <a href="https://www.instagram.com/tilo_showroom_/" class="header_links">
                <img src="~/files/main/img/youtube.png" width=25 height=25 />
            </a>
            <a href="https://www.instagram.com/tilo_showroom_/" class="header_links">
                <img src="~/files/main/img/instagram.png" width=25 height=25 />
            </a>

        </div>
    </header>
    <main>
        <div class="main">
            <div class="main-page-img"></div>
        </div>
    </main>
</body>
</html>
 