
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="~/files/main/slider/IMG_5308-1.jpg" style="width:100%">
                @*<div class="text">Caption Text</div>*@
            </div>

            <div class="mySlides fade">
                <img src="~/files/main/slider/tiloMainPage.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
           <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>

<section class="new-products appear-from-nowhere shown">
    <div class="container parent-height">
        <div class="row parent-height appearing-group shown">
            <div class="col-xs-12 parent-height">
                <span class="title">
                    <span>
                        <a href="#">
                            Новинки
                        </a>
                    </span>
                </span>
                <div class="indicators">
                    <a href="#" class="left appearing-object">
                        <span></span>
                    </a>
                    <a href="#" class="right appearing-object">
                        <span>

                        </span>
                    </a>
                </div>
                <div class="wrapper">
                    <ul class="products clearfix">
                        <li class="product inner-appearing-object">
                            <a href="#" class="rightClickLink"></a>
                            <div class="picture img">
                                <img src="~/files/main/newProducts/39.jpg" />
                            </div>
                        </li>
                        <li class="product inner-appearing-object">
                            <a href="#" class="rightClickLink"></a>
                            <div class="picture img">
                                <img src="~/files/main/newProducts/1.jpg" />
                            </div>
                        </li>
                        <li class="product inner-appearing-object">
                            <a href="#" class="rightClickLink"></a>
                            <div class="picture img">
                                <img src="~/files/main/newProducts/19.jpg" />
                            </div>
                        </li>
                        <li class="product inner-appearing-object">
                            <a href="#" class="rightClickLink"></a>
                            <div class="picture img">
                                <img src="~/files/main/newProducts/39.jpg" />
                            </div>
                        </li>
                        <li class="product inner-appearing-object">
                            <a href="#" class="rightClickLink"></a>
                            <div class="picture img">
                                <img src="~/files/main/newProducts/1.jpg" />
                            </div>
                        </li>
                        <li class="product inner-appearing-object">
                            <a href="#" class="rightClickLink"></a>
                            <div class="picture img">
                                <img src="~/files/main/newProducts/19.jpg" />
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div> 
</section> 