html {
    line-height: 1.15;
}

body {
    display: block;
    height: 100%;
    font-family: "Roboto",sans-serif;
    overflow: hidden;
}

html, body {
    min-width: 320px;
}

.main {
    height: 100%;
}

.main-page-img {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-page-img {
    background-image: url(../files/main/img/firstPage2.jpg);
}

@media all and (max-width: 720px) {
    .main-page-img {
        background-image: url(../files/main/img/phoneMainPage2.png);
    }
}

@media all and (max-width: 640px) {
    .main-page-img {
        background-position: left;
    }

        .main-page-img :nth-child(2) {
            background-position: left
        }

        .main-page-img :nth-child(3) {
            background-position: right
        }

        .main-page-img :nth-child(4) {
            background-position: right
        }

        .main-page-img :nth-child(5) {
            background-position: left
        }

        .main-page-img :nth-child(6) {
            background-position: left
        }

        .main-page-img :nth-child(7) {
            background-position: right
        }

        .main-page-img :nth-child(8) {
            background-position: right
        }

        .main-page-img :nth-child(9) {
            background-position: left
        }
}

/*.isActive {
    display: none;
}*/

head {
    display: none;
}

header {
    display: block;
}

.header > div {
    /*color: black;*/
    position: absolute;
    z-index: 100
}

.header__menu {
    top: 25px;
    left: 40px
}

    .header__menu:hover {
        transform: scale(1.1)
    }

.header__link {
    display: block;
    float: right;
    color: black;
    font-family: 'icons',sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    transition: transform .3s ease;
}

.header__link {
    display: block;
    float: right;
    color: black;
    font-family: 'icons',sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    transition: transform .3s ease;
}

#logoYouTb {
    margin-top: 8px;
}

/*.menu_link {
    color: #fff;
    font-family: 'icons',sans-serif;
    text-decoration: none;
    font-size: 32px
}

    .menu_link:hover {
        color: #fff
    }*/
a {
    background-color: transparent;
}

.menu {
    top: 70px;
    left: 20px
}

.header__logo-wrap {
    top: 20px;
    left: 50%;
    transform: translateX(-50%)
}

/*@media all and (max-width:640px) {
    .header__logo-wrap {
        top: 15px
    }
}*/
.header__logo {
    max-width: 200px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    z-index: 300
}

    .header__logo:after {
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 10%;
        right: 10%
    }

    .header__logo img {
        width: 100%
    }

/*.links {
    top: 20px;
    right: 20px;
}*/

/*@media all and (max-width:640px) {
    .links {
        position: absolute;
        right: 0;
        bottom: 40px
    }
}*/
/*.header_links {
    display: block;
    float: right;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px;
    transition: transform .3s ease;
}

@media all and (max-width:640px) {
    .header_links {
        float: none;
        margin-left: 0;
        margin-bottom: 10px
    }
}

.header_links.custom {
    position: absolute;
    top: -60px;
    right: 0
}

.header_links:hover {
    color: #fff;
    transform: scale(1.2)
}*/
.header__links {
    top: 55px;
    right: 40px;
}



.header__link.custom {
    position: absolute;
    top: -60px;
    right: 0
}

.header__link:hover {
    transform: scale(1.1)
}

.phones {
    display: none;
    position: relative;
    width: 128px;
    margin-right: -4px;
    float: left;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight: 900;
    font-size: 14px;
    z-index: 13;
    perspective: 200px;
    transform-style: preserve-3d;
    margin-top: 42px;
}

@media (min-width: 1020px) {
    .phones {
        /*margin-left: 5%;*/
        display: block;
    }
}

@media (max-width: 1020px) {
    .phones {
        margin-left: 1%;
        display: block;
    }
}
@media (max-width: 860px) {
    .phones {
        margin-left: 1%;
        display: block;
        margin-left: -40px;
    }
}

@media (max-width: 720px) {
    .phones {
        display: block;
        margin-top: 18px;
        color: white;
        /*margin-left: 0px;*/
    }
}
/*@media (min-width: 540px) {
    .phones {
        display: block;
        margin-top: 22px;
        color: white;
    }
}*/
@media (max-width: 539px) {
    .phones {
    display: none;
    }
 }
@media (min-width: 720px) {
    .header__menu {
        top: 50px;
    }
}
@media (max-width: 540px) {
    .header__logo-wrap {
        top: 20px;
        left: 55%;
        transform: none;
    }

    .header__logo {
        width: 150px;
    }

    .header__menu {
        top: 20px;
        left: 40px;
    }
}


    #btnMenu {
        display: block;
        float: right;
        padding: 10px;
        margin-top: 2px;
        font-weight: bold;
    }

    #menu-open-button {
        padding: 5px;
    }
    /*----------------------------------------------------------------------------------------*/
    .sidepanel {
        width: 0;
        margin: auto;
        background-color: none;
        overflow: hidden;
        transition: 0.5s;
        padding-top: 450px;
        color: black;
    }

        .sidepanel a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 22px;
            text-align: center;
            color: white;
            display: block;
            transition: 0.3s;
        }

            .sidepanel a:hover {
                color: #f1f1f1;
            }

    #closebtn {
        font-size: 36px;
        cursor: pointer;
    }
    /*///////////////////////////////////////////////////////////////Admin EditProduct*/
    #selection {
        visibility: hidden;
    }
    /*23.01------------------------------------------------------------------------------*/
    @media (max-width: 768px) {

        header__logo img {
            margin-left: 70px;
        }

        .header__links {
            display: none;
        }

        .header__logo-wrap {
            top: 20px;
            left: 60%;
            transform: none;
        }


        .sidepanel {
            padding-top: 250px;
        }
    }



