.parent-height {
    position: relative;
    height: 100%;
}

.main-slider .mask,
header .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 14;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    /*animation: mail-slider-appearing 1.7s ease .5s forwards;*/
}

    .main-slider .mask.loaded,
    header .mask.loaded {
        /*-webkit-transition: all .7s linear  0.5s;*/
        /*transition: all .7s linear  0.5s;*/
        /*-webkit-transform: translate3d(0, 0, 0) translateX(100%);*/
        /*transform: translate3d(0, 0, 0)  translateX(100%);*/
        /*will-change: transform;*/
    }

/*header .mask{*/
/*background-color: #ffff00;*/
/*}*/
@keyframes mail-slider-appearing {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

.new-products {
    position: relative;
    height: 810px;
    z-index: 5;
}

@media (min-width: 768px) {
    .new-products {
        height: 600px;
    }
}

@media (min-width: 1280px) {
    .new-products {
        height: 803px;
    }
}

.new-products .title a {
    text-decoration: none;
    color: #2d2d2d;
}

.new-products .title {
    position: absolute;
    text-align: right;
    top: 0;
    left: -10000px;
    width: 10000px;
    padding-top: 39px;
    /*transform: translateX(50%);*/
    color: #2d2d2d;
    height: 100%;
    /*font-family: 'heliosCondC-Bold';*/
    text-transform: uppercase;
    background-color: transparent;
    z-index: 5;
    font-size: 14px;
    margin-left: 295px;
    min-height: 1420px;
}

@media (min-width: 768px) {
    .new-products .title {
        background-color: #ffffff;
        top: -5px;
        padding-top: 5px;
        margin-left: 379px;
    }
}

@media (min-width: 1280px) {
    .new-products .title {
        height: 613px;
        margin-left: 450px;
    }
}

@media (min-width: 1600px) {
    .new-products .title {
        margin-left: 490px;
        /*padding-top: 40px;*/
        letter-spacing: 0.8px;
        min-height: 1420px;
    }
}

@media (min-width: 2000px) {
    .new-products .title {
    }
}

.new-products .title span {
    display: block;
    width: 280px;
    height: 90px;
    float: right;
    text-align: left;
}

@media (min-width: 768px) {
    .new-products .title span {
        width: 365px;
        padding-right: 20px;
    }
}

@media (min-width: 1280px) {
    .new-products .title span {
        width: 435px;
    }
}

@media (min-width: 1600px) {
    .new-products .title span {
        width: 420px;
    }
}

.new-products .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
}

.new-products .products {
    /*width: 1000000px;*/
    margin-top: 90px;
    position: relative;
    z-index: 6;
}

/*********************************************/
@media (min-width: 768px) {
    .new-products .products {
        margin-top: 40px;
    }
}

.new-products .products .product,
.catalog .products .product {
    position: relative;
    /*display: block;*/
    float: left;
    overflow: hidden;
    z-index: 6;
    /*height: 450px;/*change*/ */ width: 280px;
}

    .new-products .products .product.accessory,
    .catalog .products .product.accessory {
        height: 426px;
    }

.new-products .products .product {
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
    .new-products .products .product {
        width: 244px;
    }

    .catalog .products .product {
        width: 243px;
        /*height: 450px; /*change*/
    }

        .new-products .products .product.accessory,
        .catalog .products .product.accessory {
            height: 395px;
        }
}

@media (min-width: 1280px) {
    .new-products .products .product,
    .catalog .products .product {
        width: 290px;
        /*height: 450px; /*change*/ */
    }

        .new-products .products .product img,
        .catalog .products .product img {
            transition: transform 0.4s;
        }

        .new-products .products .product.accessory,
        .catalog .products .product.accessory {
            height: 452px;
        }
}

.new-products .products .product .picture,
.catalog .products .product .picture {
    position: relative;
    height: 320px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.new-products .products .product img,
.catalog .products .product img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

@media (min-width: 768px) {
    .new-products .products .product .picture,
    .catalog .products .product .picture {
        height: 320px; /*change*/
    }
}

@media (min-width: 1280px) {
    .new-products .products .product .picture,
    .catalog .products .product .picture {
        /*height: 100%;*/
    }
}

.float-right {
    float: right;
}

@media (min-width: 768px) {
    .new-products .products .product:hover,
    .catalog .products .product:hover {
        position: relative;
        /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);*/
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .12);
        -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .12);
        z-index: 7;
    }

        .new-products .products .product:hover img,
        .catalog .products .product:hover img {
            /*transform: translateY(-90px);*/
        }
}

.new-products .products .product .description,
.catalog .products .product .description {
    /*position: absolute;*/
    background-color: #ffffff;
    border: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    min-height: 30px;
    z-index: 2;
    text-align: center;
}

@media (min-width: 768px) {
    .new-products .products .product .description,
    .catalog .products .product .description {
        border-right: 1px solid #f1f1f1;
    }
}

@media (min-width: 1280px) {
    .new-products .products .product .description,
    .catalog .products .product .description {
        /*position: absolute;*/
        /*bottom: 0;*/
        /*border: 0;*/
        /*opacity: 0;*/
        /*transform: translateY(130%);*/
        /*transition: transform 0.4s, opacity 0.1s 0.3s;*/
        /*animation: product-description-disappearing .5s ease-out forwards;*/
    }
}

/*.new-products .products .product:hover,
.catalog .products .product:hover {
    cursor: pointer;
}*/

.new-products .products .product:hover .description,
.catalog .products .product:hover .description {
    display: block;
}

/*@media (min-width: 1280px){*/
/*.new-products .products .product:hover .description,*/
/*.catalog .products .product:hover .description{*/
/*opacity: 1;*/
/*transform: translateY(0px);*/
/*transition: transform 0.4s, opacity 0.1s;*/
/*!*animation: product-description-appearing .5s ease-out forwards;*!*/
/*}*/
/*}*/
.new-products .products .product .description .product-cities,
.catalog .products .product .description .product-cities {
    position: relative;
    bottom: 0;
    background-color: #75ded5;
    color: #ffffff;
    padding: 9px 20px;
    min-height: 35px;
    text-align: left;
    width: 100%;
    font-size: 12px;
    /*font-family: heliosCondC-Bold;*/
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 1280px) {
    .new-products .products .product .description .product-cities,
    .catalog .products .product .description .product-cities {
        padding: 9px 30px;
    }
}

.new-products .products .product .description .information,
.catalog .products .product .description .information {
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    color: #2d2d2d;
    min-height: 70px;
}

@media (min-width: 1280px) {
    .new-products .products .product .description .information,
    .catalog .products .product .description .information {
        padding: 5px 5px 5px 5px;
    }
}

.new-products .products .product .description .information .brand,
.catalog .products .product .description .information .brand {
    /*font-family: heliosCondC-Bold;*/
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 13px;
    letter-spacing: 0.8px;
}

.new-products .products .product .description .information .name,
.catalog .products .product .description .information .name {
    /*font-family: 'oranienbaumregular';*/
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    height: 30px;
}

.new-products .products .product .description .information .prices,
.catalog .products .product .description .information .prices {
    /*font-family: heliosCondC-Bold;*/
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.75px;
}

    .new-products .products .product .description .information .prices .header,
    .catalog .products .product .description .information .prices .header {
        padding-bottom: 2px;
    }

    .new-products .products .product .description .information .prices .rent,
    .catalog .products .product .description .information .prices .rent {
        float: left;
        color: #75ded5;
    }

    .new-products .products .product .description .information .prices .sold,
    .catalog .products .product .description .information .prices .sold {
        float: right;
        color: #75ded5;
        width: 33.3%;
        text-align: right;
    }

    .new-products .products .product .description .information .prices .right.sold,
    .catalog .products .product .description .information .prices .right.sold {
        color: #2d2d2d;
    }

    .new-products .products .product .description .information .prices .rent.left,
    .catalog .products .product .description .information .prices .rent.left {
        position: relative;
        float: left;
        color: #2d2d2d;
        width: 33.3%;
    }

    .new-products .products .product .description .information .prices .rent.right,
    .catalog .products .product .description .information .prices .rent.right {
        position: relative;
        float: right;
        color: #2d2d2d;
        width: 33.3%;
    }

    .new-products .products .product .description .information .prices .middle,
    .catalog .products .product .description .information .prices .middle {
        position: relative;
        float: left;
        width: 33.3%;
    }

        .new-products .products .product .description .information .prices .middle span,
        .catalog .products .product .description .information .prices .middle span {
            position: relative;
            display: block;
            height: 1px;
            background-color: #2d2d2d;
            width: 100%;
            margin-top: 10px;
        }

.new-products .products .product .description .open-link,
.catalog .products .product .description .open-link,
.the-photoday .description .open-link {
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: -20px;
    margin-bottom: -10px;
    text-decoration: none;
    outline: none;
    background-color: #2d2d2d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    color: #ffffff;
    font-size: 10px;
}

    .new-products .products .product .description .open-link span,
    .catalog .products .product .description .open-link span {
    }
