

html {
    line-height: 1.15;
}

html, body {
    min-width: 320px;
}

body {
    display: block;
    font-family: "Roboto",sans-serif;
    overflow: hidden;
}

.main {
    height: 100%;
}


head {
    display: none;
}

header {
    display: block;
}

.header > div {
    color: black;
    position: absolute;
    z-index: 100
}

.header__menu {
    top: 15px;
    left: 20px;
}

    .header__menu:hover {
        transform: scale(1.1)
    }

.header__link {
    display: block;
    float: right;
    color: black;
    font-family: 'icons',sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    transition: transform .3s ease;
}
a {
    background-color: transparent;
}

.menu {
    top: 50px;
    left: 20px
}

.header__logo-wrap {
    top: 0px;
    left: 50%;
    transform: translateX(-50%)
}

/*@media all and (max-width:640px) {
    .header__logo-wrap {
        top: 15px
    }
}*/
.header__logo {
    max-width: 200px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    z-index: 300
}

    .header__logo:after {
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 10%;
        right: 10%
    }

    .header__logo img {
        width: 100%;
        min-width: 100px
    }

@media all and  (max-width: 768px){
    .header__logo img {
        min-width: 100px;
        margin-left: 50px;
    }
}

#logoYouTb {
    margin-top: 8px;
}

.header__links {
    display: none;
    margin: 0 30px 0 0;
}

@media (min-width: 768px) {
    .header__links {
        display: block;
        top: 20px;
        left: 15%;
    }
}

    .header__link.custom {
        position: absolute;
        top: -60px;
        right: 0
    }


    .header__link:hover {
        transform: scale(1.1)
    }

.phones pre {
    display: none;
    position: fixed;
    font-family: "Roboto",sans-serif;
    white-space: pre;
    margin: 1em 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    color: #1e1e1e;
    top: 5px;
    right: 15%;
}


    @media (min-width: 768px) {
        .phones pre {
            display: block;
            top: 11px;
            right: 15%;
        }
    }

    /*@media (min-width: 768px) {
    .phones {
        display: block;
        margin-left: 5%;
        margin-top: 60px;
    }
}*/

#btnMenu {
    display: block;
    float: right;
    padding: 10px;
    margin-top: 4px;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #1e1e1e;
}

    #menu-open-button {
        padding: 5px;
    }
    /*----------------------------------------------------------------------------------------*/
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: auto;
    top: 30%;
    left: 40%;
    background-color: none;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: #1e1e1e;
}

        .sidepanel a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 22px;
            text-align: center;
            color: black;
            display: block;
            transition: 0.3s;
        }

            .sidepanel a:hover {
                color: #f1f1f1;
            }

    #closebtn {
        font-size: 36px;
        cursor: pointer;
    }
