<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/cleanStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mainStyle.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        .placeholder {
            visibility: collapse;
            display: none
        }

            .placeholder:only-child {
                visibility: visible;
                display: flex
            }
    </style>

    <title>@ViewBag.Title</title>
</head>
<body class="m-1 p-1">
    <div class="bg-dark p-2 row">
        <div class="col">
            <h4>@ViewBag.Title</h4>
        </div>
        <ul id="navAdm">
            <li>
                <a asp-action="Categories" asp-controller="Admin" class="btn btn-sm btn-info">
                    Categories
                </a>
            </li>
            <li>
                <a asp-controller="Orders" asp-action="Index" class="btn btn-sm btn-info">
                    Orders
                </a>
            </li>
        </ul>
        <div class="col-2">
            <a class="btn btn-sm btn-info"
               asp-action="Logout" asp-controller="Account" >Log  Out</a>
        </div>
    </div>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning">@TempData["message"]</div>
    }

    <div id="mainAdm">
        <div class="btn-up" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');"></div>
        <div class="sidebar">
            <div class="sidenavAdm">
                <div class="title">
                    <a class="title"
                       asp-action="Index"
                       asp-controller="Admin"
                       asp-route-category="">Catalog</a>
                </div>
                <ul>
                    @await Component.InvokeAsync("CategoryNavigation")
                </ul>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>

@functions {
string GetClassForButton(string controller)
{
    return "btn btn-block " + (ViewContext.RouteData.Values["controller"]
        as string == controller ? "btn-primary" : "btn-outline-primary");
}
}

