<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/styleLook.css" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

    <title></title>

</head>
<body>
    <header class="clearfix relative">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div class="hamburger-menu">
                        <img src="~/files/main/img/menu_black.png" id="menu-open-button" alt="MENU" width=38 height=38 />
                        <span id="btnMenu">MЕНЮ</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="phones" style="z-index: 101">
                        <a href="https://www.instagram.com/tilo_showroom_/" class="header__link">
                            <img src="~/files/main/img/instagram.png" width=26 height=30 />
                        </a>
                        <a href="https://www.instagram.com/tilo_showroom_/" class="header__link" id="logoYouTb">
                            <img src="~/files/main/img/youtube.png" width=29 height=34 />
                        </a>
                        <a href="https://www.facebook.com/TILO.showroom/" class="header__link">
                            <img src="~/files/main/img/facebook.png" width=26 height=28 />
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="logo">
                        <h1 class="header__logo">
                            <img src="~/files/main/logo/tilo_n.png" alt="LOGO" />
                        </h1>
                    </div>
                </div>
                <div class="col-xs-3  float-left">
                    <div class="social">
                        <span id="phone">
                            +38 095 216 74 24
                            г.Киев (ул.Антоновича 12)
                        </span>
                    </div>
                </div>
                <div class="col-xs-2 float-left">
                    <div class="personal-data ">
                        <a class="float-left mallki-link color-black register-link">
                            <span id="btnRegistration">
                                Регистрация
                            </span>
                        </a>
                        <a class="pull-right mallki-link color-black login-link">
                            <span id="btnLogIn">
                                Вход
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 menu" style="z-index: 10">
                    <div class="clearfix row ul">
                        <div class="col-xs-5">
                            <div class="ulItem left-item">
                                <a>
                                    <span>
                                        Магазин
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem left-item">
                                <a>
                                    <span>
                                        Новая коллекция
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem left-item">
                                <a>
                                    <span>
                                        Купальники
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem left-item">
                                <a>
                                    <span>
                                        Одежда
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="ulItem empty-space">

                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Обувь
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Сумки
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Блог
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Скидки
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> 

    @RenderBody()






    <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
    </script>
</body>
</html>
