<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" href="~/css/styleLook.css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/product.css" />

    <title></title>

</head>
<body>
    <header class="clearfix relative">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div class="hamburger-menu">
                        <img src="~/files/main/img/menu_black.png" id="menu-open-button" alt="MENU" width=38 height=38 />
                        <span id="btnMenu">MЕНЮ</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="phones" style="z-index: 10">
                        <a href="https://www.instagram.com/tilo_showroom_/" class="header__link">
                            <img src="~/files/main/img/instagram.png" width=26 height=30 />
                        </a>
                        <a href="https://www.instagram.com/tilo_showroom_/" class="header__link" id="logoYouTb">
                            <img src="~/files/main/img/youtube.png" width=29 height=34 />
                        </a>
                        <a href="https://www.facebook.com/TILO.showroom/" class="header__link">
                            <img src="~/files/main/img/facebook.png" width=26 height=28 />
                        </a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="logo">
                        <h1 class="header__logo">
                            <img src="~/files/main/logo/tilo_n.png" alt="LOGO" />
                        </h1>
                    </div>
                </div>
                <div class="col-xs-3  float-left">
                    <div class="social">
                        <span id="phone">
                            +38 095 216 74 24
                            г.Киев (ул.Антоновича, 12)
                        </span>
                    </div>
                </div>
                <div class="col-xs-2 float-left">
                    <div class="personal-data ">
                        <a class="float-left mallki-link color-black register-link">
                            <span id="btnRegistration">
                                Регистрация
                            </span>
                        </a>
                        <a class="pull-right mallki-link color-black login-link">
                            <span id="btnLogIn">
                                Вход
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 menu" style="z-index: 10">
                    <div class="clearfix row ul border-bottom">
                        <div class="col-xs-5">
                            <div class="ulItem left-item">
                                <a onclick="openNav()">
                                    <span>
                                        Магазин
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem left-item">
                                <a>
                                    <span>
                                        Новая коллекция
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem left-item">
                                <a>
                                    <span>
                                        Купальники
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem left-item">
                                <a>
                                    <span>
                                        Одежда
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="ulItem empty-space">

                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Обувь
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Сумки
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Блог
                                    </span>
                                </a>
                            </div>
                            <div class="ulItem right-item">
                                <a>
                                    <span>
                                        Скидки
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    @await Component.InvokeAsync("Catalog", Model)
    @RenderBody()
    <footer class="bFooter">
        <div class="bWrap">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-main-menu">
                        <ul class="clearfix">
                            <li class="item">
                                <a class="mallki-link">
                                    <span> Новая коллекция</span>
                                </a>
                            </li>
                            <li class="item">
                                <a class="mallki-link">
                                    <span>
                                        Подарочные сертификаты
                                    </span>
                                </a>
                            </li>
                            <li class="item">
                                <a class="mallki-link">
                                    <span> Сотрудничество</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://www.instagram.com/tilo_showroom_/">
                                    <img src="~/files/main/img/I4.png" width=26 height=30 />
                                </a>
                                <a href="https://www.instagram.com/tilo_showroom_/" id="logoYouTb">
                                    <img src="~/files/main/img/Y2.png" width=38 height=44 />
                                </a>
                                <a href="https://www.facebook.com/TILO.showroom/">
                                    <img src="~/files/main/img/facebookWhite.png" width=26 height=28 />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <li class="item">
                            <a class="mallki-link">
                                <span>Новости и интересные предложения</span>
                            </a>
                        </li>
                        <li class="item">
                            <a class="custom-button subscribe-btn">
                                <span>
                                    подписаться на рассылку
                                </span>
                            </a>
                        </li>
                    </div>
                    <div class="col-md-3">
                        <ul class="clearfix">
                            <li class="item">
                                <a class="mallki-link">
                                    <span>
                                        г.Киев
                                    </span>
                                </a>
                            </li>
                            <li class="item">
                                <a class="mallki-link">
                                    <span>
                                        ул.Антоновича, 12
                                    </span>
                                </a>
                            </li>
                            <li class="item">
                                <a class="mallki-link">
                                    <span>
                                        Пн-пт 13.00 - 20.00,
                                    </span>
                                    <span>
                                        Cб. 13.00 - 18.00
                                    </span>
                                </a>
                            </li>
                            @*<li class="item">
                                    <a class="mallki-link">
                                        <span>
                                            Cб. 13.00 - 18.00
                                        </span>
                                    </a>
                                </li>*@
                            <li class="item">
                                <a class="mallki-link">
                                    <span>
                                        +38 095 216 74 24
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script>

        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        /* Set the width of the sidebar to 250px (show it) */
        function openNav() {
            document.getElementById("mySidepanel").style.width = "380px";
        }

        /* Set the width of the sidebar to 0 (hide it) */
        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
    <script src="~/js/slider.js"></script>
</body>
</html>
