<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <title></title>
</head>
<body>
    <header class="header">
        <div class="header__menu">
            <div id="menuFirstPage">
                <img src="~/files/main/img/menu_black.png" id="menu-open-button" alt="MENU" width=32 height=32 />
                <p id="btnMenu">MЕНЮ</p>
            </div>
        </div>
        <div class="phones">
            <div>
                <pre>
                    +38 095 216 74 24
                    г.Киев (ул.Антоновича 12)
                </pre>
            </div>
        </div>
        <div class="header__logo-wrap">
            <h1 class="header__logo">
                <img src="~/files/main/logo/tilo_n.png" alt="LOGO" />
            </h1>
        </div>
        <div class="header__links">
            <a href="https://www.instagram.com/tilo_showroom_/" class="header__link">
                <img src="~/files/main/img/instagram.png" width=26 height=30 />
            </a>
            <a href="https://www.instagram.com/tilo_showroom_/" class="header__link" id="logoYouTb">
                <img   src="~/files/main/img/youtube.png" width=29 height=34  />
            </a>
            <a href="https://www.facebook.com/TILO.showroom/" class="header__link">
                <img src="~/files/main/img/facebook.png" width=26 height=28 />
            </a>
        </div>
    </header>
    <main role="main" class="main">
        @RenderBody()
    </main>


    <footer class="footer"></footer>
</body>
</html>
